<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
       value="gdb -x $(find moveit_sim_controller)/launch/debug_settings.gdb --ex run --args" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find ur5_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="robot_description" value="ur5/robot_description"/>
  </include>

  <!-- Load joint limits to override URDF -->
  <rosparam file="$(find ur5_moveit_config)/config/joint_limits.yaml" command="load"/>

  <!-- Load controller settings -->
  <rosparam file="$(find moveit_sim_controller)/config/ur5_controllers.yaml" command="load"/>

  <!-- Load SIMULATION hardware interface -->
  <node name="ur5_hw_interface" pkg="moveit_sim_controller" respawn="false"
        type="moveit_sim_hw_main" output="screen" launch-prefix="$(arg launch_prefix)"/>

  <!-- Load controller manager -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager"
        respawn="false" output="screen" args="spawn joint_state_controller
                                              position_trajectory_controller"/>

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Fake transform from world origin to robot origin (base) -->
  <node pkg="tf" type="static_transform_publisher" name="$(anon tf)" args="0 0 0 0 0 0 /base /world 30" />

</launch>
